dont use

<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>


<p>user name</p>
  <input name="name">
<p>maill adress</p>
  <input name="email">
<p>password</p>
  <input name="password">
<div>
  <input type="submit" value="登録">
</div>
