<h2>name: <%= @user.name %></h2>
<p>email: <%= @user.email %></p>

<div>
<%= link_to("ユーザー情報編集", "/users/#{@user.id}/edit") %>
</div>

<div>このユーザーのタスク
  <% @user.posts.each do |post| %>
  <ul><li>
    <%= link_to(post.content, "/posts/#{post.id}") %>
  </li></ul>
  <%end%>
</div>
