<h2>name: <%= @user.name %></h2>
<p>email: <%= @user.email %></p>

<%if @user.id == @current_user.id%>
<div>
<%= link_to("ユーザー情報編集", "/users/#{@user.id}/edit") %>
</div>
<%end%>

<div>このユーザーのタスク
  <% @user.posts.each do |post| %>
  <ul><li>
    <%= link_to(post.content, "/#{post.id}") %>
  </li></ul>
  <%end%>
</div>
