<%= form_tag("/#{@task.id}/update")do %>
<h3>タスク内容</h3>
  <textarea name="content"><%= @task.content %></textarea>
<p>終了期限</p>
<p><textarea typ =date name="deadline"><%=@task.deadline%></textarea></p>

<p>ステータス</p>


  <input type="submit" value="保存">

<%end%>
