<%= form_tag("/#{@post.id}/update")do %>

<% @post.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

  <div>
    <textarea name="title"><%= @post.title %></textarea>
  </div>
  <div>
    <textarea name="content"><%= @post.content %></textarea>
  </div>
  <input type="submit" value="保存">
<%end%>
