<div>
  title<br>
  <%= @post.title %>
</div>

<p>
タスク内容<br>
<%= @post.content %>
</p>

<p>
  
</p>

<div>
<%= link_to("編集", "/#{@post.id}/edit")%>
<%= link_to("削除", "/#{@post.id}/destroy",{method: "post"}) %>
</div>
