<p>hello admin/users</p>
<%= link_to("ユーザー登録", "/admin/signup") %>
<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<% @users.each do |user| %>
  <div>
    <%= link_to(user.name , "/admin/users/#{user.id}") %>
  </div>
<% end %>
